<!DOCTYPE html>
<html>
    <head>
        <title>Calorie Buddy: about Calorie Buddy</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
        <body>
            <div class="main-content">
		<!-- Render the top bar div (h1 and anchor tags) passed as a prop from the server when page is rendered -->
                <%- navigation %>
                <h2>About</h2>
                <p>Calorie Buddy provides nutritional information about food ingredients and recipes which use those ingredients. You can even add your own ingredients and recipes!
                <br>You can register for an account, although there is no benefit of doing so.</p>
                <p>Calorie Buddy was developed by Ed Bradbury. It's powered by Node and Express.</p>
            </div>
        </body>
</html>
